
<nav class="navbar navbar-expand-lg mb-4 navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" href="#">ReCap Car Rental</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Anasayfa</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/cars">Araçlar</a>
        </li>
        <app-cart-summary></app-cart-summary>
      </ul>
      <div class="d-flex">
        <button class="btn btn-outline-primary btn-sm shadow-none mx-1">Giriş Yap</button>
        <button class="btn btn-outline-success btn-sm shadow-none mx-1">Kayıt Ol</button>
      </div>
    </div>
  </div>
</nav>