<table class="table table-hover">
    <thead>
        <tr>
            <td>#</td>
            <td>Marka Adı</td>
            <td>Müşteri Adı</td>
            <td>Kiralama Tarihi</td>
            <td>Dönüş Tarihi</td>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let rental of rentals">
            <td>{{rental.rentalId}}</td>
            <td> {{rental.brandName}}</td> 
            <td>{{rental.firstName}} {{rental.lastName}}</td> 
            <td>{{rental.rentDate}}</td>
            <td *ngIf="rental.returnDate != null">{{rental.returnDate}}</td>
            <td *ngIf="rental.returnDate == null">Teslim edilmemiş!</td>
        </tr>
    </tbody>
</table>