.cursor-pointer{
  cursor: pointer;
}
.outline-none{
  outline: none !important;
}
.total{
  position: absolute;
    right: 15px;
}
.btn-toggle {
  display: inline-flex;
  align-items: center;
  font-weight: 600;
  color: rgba(0, 0, 0, .65);
}
.btn-toggle:hover,
.btn-toggle:focus {
  color: rgba(0, 0, 0, .85);
  background-color: #d2f4ea;
}

.btn-toggle::before {
  width: 1.25em;
  line-height: 0;
  content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%280,0,0,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
  transition: transform .35s ease;
  transform-origin: .5em 50%;
}

.btn-toggle[aria-expanded="true"] {
  color: rgba(0, 0, 0, .85);
}
.btn-toggle[aria-expanded="true"]::before {
  transform: rotate(90deg);
}
.tablecart{
  border-top: 0;
  -webkit-box-shadow: 0 5px 40px rgb(0 0 0 / 15%);
  -moz-box-shadow: 0 5px 40px rgba(0, 0, 0, 0.15);
  box-shadow: 0 5px 40px rgb(0 0 0 / 15%);
}

a.productremove:hover {
  color: red !important;
}

a.productremove {
  display: block;
  cursor: pointer;
  font-size: 1.5em;
  height: 1em;
  width: 1em;
  text-align: center;
  line-height: 1;
  border-radius: 100%;
  color: #999!important;
  text-decoration: none;
  font-weight: 700;
  border: 0;
}
.tablecart img{
  width: 70px;
  border-radius: 5px;
  height: auto;
}
.tablecart tr td{
  padding: 20px;
}
.tablecart td{
  vertical-align: middle;
}
.tablecart th{
  font-size: 14px;
  padding: 12px 12px 10px 12px;
}
.tablecart tbody{
  border-style: hidden !important;
}
.tablecart .amount{
  color:#222;
  font-weight: 600;
}
.tablecart .quantity{
  width: 80px;
}
.tablecart .actions{
  text-align: right;
}
.tablecart .coupon {
  float: left;
}
.input-group{
  width: auto !important;
}
.tablecart .nonCart{
  text-align: center !important;
}
.checkout{
  float:right;
}